@page "/counter"
@using FurnitureMovement.Data
@using FurnitureMovement.Services
@inject IOrderService OrderService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount1</p>


<button class="btn btn-primary" @onclick="Create">Создать</button>
<button class="btn btn-primary" @onclick="Update">Редактировать</button>
<button class="btn btn-primary" @onclick="Delete">Удалить</button>
<input type="text" class="textbox" placeholder="Поиск"/>

@code {
    private int currentCount1 = 300;

    public List<Order> myList;

    private async void Create()
    {
        string number1 = currentCount1.ToString();


        var order1 = new Order
        {
                Number = number1,                //Номер
                Drawning = "СХ55",                //Схемы
                Furniture = "Форма",              //Оснастка
                AdmissionDate = DateTime.Now,    //Поступление
                Quantity = 10                   //Количество
        };

        await OrderService.CreateOrder(order1); //Добавление


        currentCount1 = currentCount1 + 2;


    }

    private async void Delete()
    {
        await OrderService.Delete("54"); //Удаление
        await OrderService.Delete("52"); //Удаление
        await OrderService.Delete("12"); //Удаление
    }

    private async void Update()
    {
        var updateOrder = new Order
        {
                Number = "1",                  //Номер
                Drawning = "Proizoshla",        //Схемы
                Furniture = "Zamena",           //Оснастка
                AdmissionDate = DateTime.Now,   //Поступление
                Quantity = 30                   //Количество
        };

        await OrderService.Update(updateOrder); //Обновление
    }

}
