@page "/counter"
@using FurnitureMovement.Data
@using FurnitureMovement.Services
@inject IOrderService OrderService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount1</p>
<p role="status">Current count: @currentCount2</p>

<button class="btn btn-primary" @onclick="Create">Удалить</button>
<button class="btn btn-primary" @onclick="Delete">Редактировать</button>
<button class="btn btn-primary" @onclick="Update">К складу</button>
<button class="btn btn-primary" @onclick="Update">Обновить</button>
<input type="text" class="textbox" placeholder="Поиск"/>

@code {
    private int currentCount1 = 125;
    private int currentCount2 = 158;
    public List<Order> myList;

    private async void Create()
    {
        string number1 = currentCount1.ToString();
        string number2 = currentCount2.ToString();

        var order1 = new Order
        {
                Number = number1,                //Номер
                Drawning = "СХ55",                //Схемы
                Furniture = "Форма",              //Оснастка
                AdmissionDate = DateTime.Now,    //Поступление
                Quantity = 10                   //Количество
        };

        var order2 = new Order
        {
                Number = number2,                 //Номер
                Drawning = "СХ41",                //Схемы
                Furniture = "Крепеж",            //Оснастка
                AdmissionDate = DateTime.Now,      //Поступление
                Quantity = 333                    //Количество
        };


        await OrderService.CreateOrder(order1); //Добавление
        await OrderService.CreateOrder(order2); //Добавление

        currentCount1 = currentCount1 + 2;
        currentCount2 = currentCount2 + 2;

    }

    private async void Delete()
    {
        await OrderService.Delete("6"); //Удаление
    }

    private async void Update()
    {
        var updateOrder = new Order
        {
                Number = "52",                  //Номер
                Drawning = "Proizoshla",        //Схемы
                Furniture = "Zamena",           //Оснастка
                AdmissionDate = DateTime.Now,   //Поступление
                Quantity = 30                   //Количество
        };

        await OrderService.Update(updateOrder); //Обновление
    }

}
