@page "/counter"
@using FurnitureMovement.Data
@using FurnitureMovement.Services
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        // var newOrder = new Order
        //     {
        //         Number = "1", //Номер
        //         Drawning = "Sxema",//Схемы
        //         Furniture = "Chtoto", //Оснастка
        //         AdmissionDate = DateTime.Now, //Поступление
        //         Quantity = 10000  //Количество
        //     };
        
        // var OrderService = new OrderService(_myFactory); //Ругается на _myFactory не существует в текущем контексте
        // _myFactory.Create(newOrder);

    }
}
