@page "/fetchdata"
@using Blazorise

<Button Color="Color.Primary" @onclick="ShowModal">Test Blazorise Modal</Button>

<Modal @ref="modalRef">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Test Modal</ModalTitle>
            <CloseButton @onclick="HideModal" />
        </ModalHeader>
        <ModalBody>
            <p>If you see this, Blazorise works!</p>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" @onclick="HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal modalRef;

    private void ShowModal()
    {
        Console.WriteLine("Show modal called");
        modalRef?.Show();
    }

    private void HideModal()
    {
        Console.WriteLine("Hide modal called");
        modalRef?.Hide();
    }
}
