@page "/fetchdata"
@using FurnitureMovement.Data
@using FurnitureMovement.Services
@inject WeatherForecastService ForecastService
@inject IOrderService OrderService

<PageTitle>Оснастка</PageTitle>

<h1>Заказ оснастки</h1>

@code {

}
